.main{
 background-color: rgb(255, 255, 255);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 box-shadow: 0px -9px 20px 20px white;
 padding: 0px 1.0875rem 1.45rem;
margin: 0 auto;
    margin-top: 5rem;
}

.main h1{
  box-shadow: 1px 3px 2px 2px #f6f5f5;
  padding: 1rem;
}


.main .rightbar {
    right: 0;
    left: unset;
    box-shadow: 1px 0px 2px 7px whitesmoke;
}


.sidebar {
  font-size: .9rem;
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 4rem;
  left: 0;
  margin-top: -1rem;
  padding:1rem 2rem 2rem 1rem;
 background-color: #ffffff;
/* box-shadow: inset 20px -18px 0px 20px #f5f5f5; */
border-right: 3px solid #f5f5f5;
  will-change: transform;
}


.start-bar{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  position: relative;
}

.sidebar a{
  margin-bottom: .5rem;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.74);
  transition: all .2s ease-in;
      padding-left: 1rem;
      text-decoration: none;
}

.sidebar a:hover{
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.mob{
    height: 100vh;
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 46px;
    width: 100vw;
    left: 0;
    transform: translateX(-116%);
    transition: all .2s ease-out;
    overflow-y: auto;
}

.mob.open{
  transform: translateX(0);
}

.mob-start{
    display: flex;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    padding-bottom: 6rem;
}
.mob-start a{
   margin-bottom: .4rem;
   padding-left: 1.2rem ;
   color: rgba(0, 0, 0, 0.67059);
   text-decoration: none;
}


.toggler{
  display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   position: fixed;
    right: 1.2rem;
    bottom: 1rem;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background: black;
    z-index: 1000;
    border: 2px solid #fefffe;
    box-shadow: 0 2px 16px;
    cursor: pointer;
}

.mobile-bar{
  display: none;
  cursor: pointer;
}

@media only screen and  (max-width:800px){
 .main h1{
     font-size: larger;
}
  .sidebar{
    display: none;
  }

  .mobile-bar{
    display: block !important;
  }

.content{
      margin-left: 0 !important;
      padding:0 !important;
  }
  .content-bar{
    width: 100% !important;
  }

  .content .content-bar p{
    line-height: 1.5;
    font-size: 17px;
  }
}

@media only screen and (max-width:900px){
    .liveeditor{
  flex-direction: column;
 }

 .preview{
   width: 100% !important;
 }
}

@media only screen and (max-width:1190px){
   .main .rightbar {
   display: none;
}
}



.content{
  padding:1rem 2rem 2rem 1rem;
  position: relative;
  max-width: 1000px;
  margin-left: 20rem;
  display: flex;
    justify-content: center;
}

.content p{
  line-height: 1.8;
  font-size: 20px;
  color: #000000e5;
}

.content-bar{
  width: 90%;
}




.liveeditor{
  display: flex;
}

.preview{
   width: 50%;
   padding:.7rem;
   height: 20rem;
   max-width:100%;
   background-color: #fffffe;
   border: 1px solid #dcd;
   overflow: auto;
   margin-bottom: .5rem;
}

 .gatsby-highlight{
  margin:1rem auto;
}

/*
.gatsby-highlight::before{
content: attr(data-language);
position: absolute;
right: 0px;
color: #cac717;
font-size: .7rem;
padding: .2rem;
background-color: rgb(10, 9, 9);
background: rgba(221, 221, 221, 0.18);
} */





.dottedline{
        width: 0.1rem;
    background-color: black;
    position: absolute;
    left: 3px;
    top: 15px;

}

.dotted{
   width: 14px;
    height: 14px;
    background: white;
    border: 1px solid rgba(143, 143, 143, 0.658);
    left: -3px;
    position: ABSOLUTE;
    border-radius: 50%;
    z-index: 77;
    margin-top: 6px;
    box-shadow: inset 1px 1px 0px 0px seagreen;
}

blockquote {
  background: #e6ffd3;
    border-left: 7px solid #727070;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  font-size: initial;
  color: #000000ee;
}

blockquote p {
  display: inline;
}

.progress-bar{
  /* appearance: none; */
left: 0;
top: 0;
    position: fixed;
    z-index: 455;
    background-color: transparent;
    height: 4px;
    width: 100%;
}

.bar{
    top: 0;
   position: absolute;;
    background: rgb(173, 248, 10);
   box-shadow: 1px 1px 1px whitesmoke;
   left: 0;
   height: 100%;
   width: 0;
}
