.post-list{
   margin-top: 1rem;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:#222222e6;

}

.post-list h2{
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 0;
}

.post-list a{
    text-decoration: none;
    color: inherit;
}

.post-setup{
    list-style: none;
    width: 100%;
    margin: 0;
    margin: 0 auto;
}

.post-items{
    background-color: #ffff;
   width: 60%;
    margin: 1.3rem auto;
    padding: 2rem  3rem;
    font-weight: 500;
    font-size: 1.6rem;
    word-spacing: 4px;
    box-shadow: 0px 1px 4px 1px rgba(179, 177, 177, 0.58039);
    transition: background-color .2s cubic-bezier(.4,0,.2,1);
    position: relative;
    cursor: pointer;
}

.post-items:hover{
    background-color: rgba(252, 252, 252, 0.781)
}

.post-logo{
        top: 0;
    left: 0;
}


.slim{
       font-weight: 300;
    position: relative;
    /* width: 60%; */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}



@media  only screen and (max-width:870px){
    .post-items{
   width: 100%;
       padding: 3.3rem 0 2rem 0;
       font-size: 1rem;
   }

   .post-list h2{
     margin-left: 1rem;
    font-size: 1.2rem
}

.post-logo{
   width: 30px;
   height: 30px;
}

}