.main-grid{
       margin-top: 1rem;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
       grid-gap: 1rem;
       padding: 1rem;
       justify-content: center;
       /* box-shadow: 0 1px 1px black; */
       width: 90%;
       margin: 0 auto;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.grid-2{
       margin-top: 1rem;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
       grid-gap: 1rem;
       padding: 1rem;
       justify-content: center;
       /* box-shadow: 0 1px 1px black; */
       width: 80%;
       margin: 0 auto;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.main-grid >div,.grid-2>div{
      margin: 0 auto;
     width: 100%;
     padding: 1rem;
     display: grid;
     justify-content: center;
    box-shadow: -1px -2px 2px 2px rgba(0, 0, 0, 0.05098);
         text-align: inherit;
         background-color: white;
         position: relative;
}



.course-logo{
    width: 50px;
    height: 50px;
    position: absolute;
    box-shadow: 0px 1px 20px 8px hsla(0, 0%, 0%, .04);
    border-radius: 10%;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-logo:hover{
    opacity: 0.7;
}

.content-links{
      list-style: none;
      margin-left: 0;
}

.content-links a{
    color:#333333;
    text-decoration: none;
}

.content-links a:hover{
    border-bottom: 1px solid black;
}


.center{
    display: flex;
    justify-content: center;
}



.padding-top5{
    padding-top: 5rem;
}

.bglight{
    background: rgba(221, 221, 221, .18)
}

.auto{
    margin: 0 auto;
    padding: 0px 1.0875rem 1.45rem;
}


.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}