.footer-g{
    background-color: rgb(252, 252, 252);
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.footer-start{
    padding: 1rem;
    margin-left: 16rem;
}

.footer-title{
    font-weight: 200;
    text-decoration: none;
    color: #141414;
    font-size: 1.3rem;
    display: inline
}

.logostyle{
    text-decoration: none;
    font-weight: 100;
}

.footer-links{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
}


.footer-links a:first-child{
    margin-left: 9rem;

}

.footer-links a{
    text-decoration: none;
    margin-left: 1rem;
     color: inherit;

}


@media only screen and (max-width:870px){

.footer-links a:first-child{
    margin-left: 0rem;

}

.footer-links a{
   padding-top:1rem;

}



}


@media only screen and (max-width:800px){
    .footer-start{
    margin-left: 0;
   }
}