.main-nav{
      margin-bottom: 1.45rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
        /* padding: 1.45rem 1.0875rem; */
        background-color: rgb(255, 255, 255);
         box-shadow: 0 2px 2px #0000001f;
        z-index: 233;
        width:100%;
        color: white;
        top: 0;
       left:0;
       position:fixed;
       height: 3rem;
       will-change: transform;
         display: flex;
}

.header a{
  text-decoration: none;
}


.logostyle{
    color: #000000d6;
    background: #dfdfd500;
    padding: 0.3rem;
    margin-left: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    /* box-shadow: inset -97px 0px 0px 8px #f9f9f9; */
    font-family: unset;
    letter-spacing: 0.2rem;
    /* border: 1px solid rgb(0, 0, 0); */
    text-shadow: 0px 1px 0px white;
    transition: all .3s ease-in;
    font-weight: 100;
    font-size: 1.2rem;

}

.logostyle:hover{
   box-shadow: -1px 0px 0px 2px #f5f5f5;
}

.nav{
  display: flex;
   justify-content: space-between;
   align-items: center;

   transform: scale(0);
 width: 50%;
    margin: 0 auto;
   transition: all .3s ease-in;
}

.nav.active{

   transform: scale(1);
      transition: all .3s;

}


.startnav{
      margin: 0 auto;
}


.navbtn{
   position: fixed;
    top: 3rem;
    right: 0%;
    background: #1f0505;
    font-size: .7rem;
    color: rgba(255, 217, 0, 0.918);
    font-family:cursive;
    font-weight: 100;
}

@media only screen and  (max-width:900px){
     .nav{
             overflow-x:scroll;
   overflow-y: hidden;
   margin-right: 2rem;
     }
   .logostyle{
    margin-left: 0;
   box-shadow: 1px 0px 2px 2px rgb(246, 246, 246);
       font-weight: 200;
       font-size: unset;
    }

.navbtn{
   display: none;
}
}

@media  only screen and (max-width:320px){
  .logostyle{
      font-size: small;
    }
}

.nav a{
     margin-left: .3rem;
    color: rgb(27, 27, 27);
    padding: .2rem .4rem;
    font-size: .9rem;
    background-color: #ffffff7a;
    box-shadow: inset 1px 1px 1px whitesmoke;
    transition: all .3s ease-in;
    font-weight: 700;
}

.nav a:hover{
  box-shadow: inset 1px 41px 0px 0px #f5f5f5;
}


.github{
  position: fixed;
    right: 0.7rem;
    top: 0.9rem;
}





.nav a:not(:first-child){

}